.education-section {
  max-width: 800px;
  height: 90vh;
  margin: auto;
  padding: 40px;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education-section h2 {
  margin-top: 40px;
  font-size: 28px;
  color: #222;
  margin-bottom: 30px;
  text-align: left;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 5px;
}

.university {
  margin-bottom: 25px;
}

.university h3 {
  font-size: 22px;
  color: #007bff;
  margin-bottom: 10px;
}

.university p {
  font-size: 16px;
  color: #555;
  margin: 5px 0 20px 0;
}

.university ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.university ul li {
  align-items: center;
  background-color: #f0f0f0;
  margin-right: 8px;
  margin-bottom: 8px;
  color: #495057;
  padding: 8px 16px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.university-header {
  display: flex;
  align-items: center;
}

.university-header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .education-section {
    padding: 20px;
    height: auto;
  }

  .education-section h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .university h3 {
    font-size: 20px;
  }

  .university p,
  .university h4 {
    font-size: 14px;
  }

  .university ul {
    flex-direction: column;
  }

  .university ul li {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .university-header img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .education-section h2 {
    font-size: 20px;
  }

  .university h3 {
    font-size: 18px;
  }

  .university p,
  .university h4 {
    font-size: 12px;
  }

  .university ul li {
    padding: 6px 12px;
  }
}
