.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0;
  background-image: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
}

.profile-pic {
  width: 50%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
}

.black-icon:hover {
  transform: scale(1.5);
}

.black-icon {
  color: black;
  transition: transform 0.2s;
}

@media (max-width: 768px) {
  .info h1,
  .info p {
    font-size: 0.9rem;
  }

  .black-icon {
    transform: scale(0.8);
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about p {
  margin-top: 0.5em;
}

@media (max-width: 480px) {
  .info h1 {
    font-size: 0.8rem;
  }
  .info p {
    font-size: 0.7rem;
  }
  .black-icon {
    transform: scale(0.7);
  }
}
