.header {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 100vw; /* Set width to 100% of the viewport width */
    height: 100vh; /* Set height to 100% of the viewport height */
    margin: auto;
    padding: 0; 
    background-image: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end)); /* Example background */
  }
  
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 90px;
  }
.info{
    margin-top: 10px;
}
 
  .contact-info a {
    color: #007bff; /* Color for links */
    text-decoration: none; /* Removes underline from links */
    display: block; /* Stack items vertically */
    
  }
  
  .contact-info a:hover {
    text-decoration: underline; /* Adds underline on hover for better interaction feedback */
  }