/* Projects.css */
.projects-section {
  margin: auto;
  padding: 40px;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.projects-section h2{
    margin-top: 60px;
}
.project {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Make this a flex container */
  flex-direction: row; /* Align children horizontally */
  align-items: center; /* Align children vertically */
  margin-bottom: 20px; /* Add some space between the project entries */
  gap: 20px;
}

.project h3 {
  margin-top: 0;
}

.project p {
  margin: 10px 0 0;
  line-height: 1.6;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-image {
  width: 150px; 
  height: auto; 
  border-radius: 10px;
}

.navigation-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.nav-link {
    background-color: royalblue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px; /* Optional: adds rounded corners */
}

.nav-link:hover {
    background-color: #45a049;
}

